:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: rgb(122, 219, 214);
  --border-width: 5px;
  --boder-width-negative: calc(var(--border-width) * -1);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.resize {
  resize: both;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #181818;
  border-radius: 0.5rem;
}

.arrow__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
}

svg {
  height: 100%;
}
path {
  fill: rgb(255, 255, 255);
}

.stroke {
  fill: rgb(122, 219, 214);
}

.content {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: white;
  flex-grow: 1;
}

.arrow__container.arrow__container--background {
  position: absolute;
  inset: -5px -10px;
  height: unset;
  width: unset;
}
.arrow__container.arrow__container--background .content {
  background-color: var(--border-color);
}

.arrow__container.arrow__container--background * {
  fill: var(--border-color);
}

.arrow__wrapper {
  position: relative;
  width: 80%;
  height: 56px;
}

.arrow__container--front {
  z-index: 1;
}

.arrow__content {
  position: relative;
  z-index: 1;
  padding: 20px 30px;
}
.arrow__background {
  position: absolute;
  inset: 0;
}
.arrow__border {
  clip-path: polygon(
    calc(100% - 0px) calc(50% - 2.88px),
    calc(100% - 13.24px) 3.09px,
    calc(100% - 13.24px) 3.09px,
    calc(100% - 13.58273px) 2.53935px,
    calc(100% - 13.97784px) 2.0352px,
    calc(100% - 14.42071px) 1.58025px,
    calc(100% - 14.90672px) 1.1772px,
    calc(100% - 15.43125px) 0.82875px,
    calc(100% - 15.98968px) 0.5376px,
    calc(100% - 16.57739px) 0.30645px,
    calc(100% - 17.18976px) 0.138px,
    calc(100% - 17.82217px) 0.03495px,
    calc(100% - 18.47px) 4.3633868820037e-32px,
    23.42px 0px,
    23.42px 0px,
    -20.80365px 0px,
    -47.5016px 0px,
    -59.70535px 0px,
    -60.4464px 0px,
    -52.75625px 0px,
    -39.6664px 0px,
    -24.20835px 0px,
    -9.4136px 0px,
    1.68635px 0px,
    6.06px 0px,
    6.06px 0px,
    5.40783px 0.03382px,
    4.77384px 0.13376px,
    4.16181px 0.29754px,
    3.57552px 0.52288px,
    3.01875px 0.8075px,
    2.49528px 1.14912px,
    2.00889px 1.54546px,
    1.56336px 1.99424px,
    1.16247px 2.49318px,
    0.81px 3.04px,
    0.81px 3.04px,
    0.516px 3.62035px,
    0.288px 4.2184px,
    0.126px 4.82965px,
    0.03px 5.4496px,
    0px 6.07375px,
    0.036px 6.6976px,
    0.138px 7.31665px,
    0.306px 7.9264px,
    0.54px 8.52235px,
    0.84px 9.1px,
    12.5px calc(50% - 1.03px),
    12.5px calc(50% - 1.03px),
    12.5999px calc(50% - 0.8338px),
    12.6776px calc(50% - 0.63039999999999px),
    12.7331px calc(50% - 0.4216px),
    12.7664px calc(50% - 0.2092px),
    12.7775px calc(50% - -0.004999999999999px),
    12.7664px calc(50% - -0.2192px),
    12.7331px calc(50% - -0.4316px),
    12.6776px calc(50% - -0.6404px),
    12.5999px calc(50% - -0.8438px),
    12.5px calc(50% - -1.04px),
    0.84px calc(100% - 9.16px),
    0.84px calc(100% - 9.16px),
    0.53972px calc(100% - 8.58263px),
    0.30496px calc(100% - 7.98744px),
    0.13584px calc(100% - 7.37881px),
    0.03248px calc(100% - 6.76112px),
    -0.005px calc(100% - 6.13875px),
    0.02352px calc(100% - 5.51608px),
    0.11816px calc(100% - 4.89749px),
    0.27904px calc(100% - 4.28736px),
    0.50628px calc(100% - 3.69007px),
    0.8px calc(100% - 3.11px),
    0.8px calc(100% - 3.11px),
    1.14975px calc(100% - 2.56317px),
    1.5484px calc(100% - 2.06416px),
    1.99205px calc(100% - 1.61519px),
    2.4768px calc(100% - 1.21848px),
    2.99875px calc(100% - 0.87625000000001px),
    3.554px calc(100% - 0.59072px),
    4.13865px calc(100% - 0.36411px),
    4.7488px calc(100% - 0.19864px),
    5.38055px calc(100% - 0.096530000000008px),
    6.03px calc(100% - 0.060000000000002px),
    23.41px calc(100% - 0px),
    28.4px calc(100% - 0px),
    28.4px calc(100% - 0px),
    39.05808px calc(100% - -0.017010000000006px),
    55.25104px calc(100% - -0.026880000000006px),
    75.41096px calc(100% - -0.03087px),
    97.96992px calc(100% - -0.030240000000006px),
    121.36px calc(100% - -0.026250000000005px),
    144.01328px calc(100% - -0.020160000000004px),
    164.36184px calc(100% - -0.013230000000007px),
    180.83776px calc(100% - -0.0067200000000014px),
    191.87312px calc(100% - -0.0018899999999888px),
    195.9px calc(100% - 0px),
    calc(100% - 20.32px) calc(100% - 0px),
    calc(100% - 20.32px) calc(100% - 0px),
    calc(100% - 19.42256px) calc(100% - -7.105427357601e-15px),
    calc(100% - 18.79128px) calc(100% - -7.105427357601e-15px),
    calc(100% - 18.38572px) calc(100% - 7.105427357601e-15px),
    calc(100% - 18.16544px) calc(100% - -7.105427357601e-15px),
    calc(100% - 18.09px) calc(100% - 0px),
    calc(100% - 18.11896px) calc(100% - 0px),
    calc(100% - 18.21188px) calc(100% - 0px),
    calc(100% - 18.32832px) calc(100% - 0px),
    calc(100% - 18.42784px) calc(100% - 1.4210854715202e-14px),
    calc(100% - 18.47px) calc(100% - 0px),
    calc(100% - 18.47px) calc(100% - 0px),
    calc(100% - 17.82217px) calc(100% - 0.034949999999988px),
    calc(100% - 17.18976px) calc(100% - 0.13799999999998px),
    calc(100% - 16.57739px) calc(100% - 0.30645000000001px),
    calc(100% - 15.98968px) calc(100% - 0.5376px),
    calc(100% - 15.43125px) calc(100% - 0.82875px),
    calc(100% - 14.90672px) calc(100% - 1.1772px),
    calc(100% - 14.42071px) calc(100% - 1.58025px),
    calc(100% - 13.97784px) calc(100% - 2.0352px),
    calc(100% - 13.58273px) calc(100% - 2.53935px),
    calc(100% - 13.24px) calc(100% - 3.09px),
    calc(100% - 0px) calc(50% - -2.88px),
    calc(100% - 0px) calc(50% - -2.88px),
    calc(100% - -0.26730000000001px) calc(50% - -2.32748px),
    calc(100% - -0.47520000000003px) calc(50% - -1.75864px),
    calc(100% - -0.62369999999999px) calc(50% - -1.17756px),
    calc(100% - -0.71279999999999px) calc(50% - -0.58832px),
    calc(100% - -0.74250000000001px) calc(50% - 0.0050000000000061px),
    calc(100% - -0.71280000000002px) calc(50% - 0.59832px),
    calc(100% - -0.62369999999999px) calc(50% - 1.18756px),
    calc(100% - -0.4752px) calc(50% - 1.76864px),
    calc(100% - -0.26729999999998px) calc(50% - 2.33748px),
    calc(100% - 0px) calc(50% - 2.89px)
  );
  background-color: rgb(150, 106, 53);
}
.arrow__inner {
  inset: 3px;
  clip-path: polygon(
    0.56px calc(100% - 6.15px),
    0.56px calc(100% - 6.15px),
    0.18898px calc(100% - 5.32608px),
    0.01464px calc(100% - 4.48464px),
    0.02306px calc(100% - 3.65016px),
    0.20032px calc(100% - 2.84712px),
    0.5325px calc(100% - 2.1px),
    1.00568px calc(100% - 1.43328px),
    1.60594px calc(100% - 0.87144px),
    2.31936px calc(100% - 0.43896000000001px),
    3.13202px calc(100% - 0.16032px),
    4.03px calc(100% - 0.060000000000002px),
    21.41px calc(100% - 0px),
    21.41px calc(100% - 0px),
    21.41px calc(100% - 0px),
    26.53094px calc(100% - -0.01673000000001px),
    29.79992px calc(100% - -0.025840000000017px),
    31.52618px calc(100% - -0.028710000000004px),
    32.01896px calc(100% - -0.026720000000005px),
    31.5875px calc(100% - -0.021250000000002px),
    30.54104px calc(100% - -0.013680000000008px),
    29.18882px calc(100% - -0.0053899999999985px),
    27.84008px calc(100% - 0.0022400000000076px),
    26.80406px calc(100% - 0.0078299999999913px),
    26.39px calc(100% - 0.009999999999998px),
    calc(100% - 22.05px) calc(100% - 0.009999999999998px),
    calc(100% - 22.05px) calc(100% - 0.009999999999998px),
    calc(100% - -18.75237px) calc(100% - 0.0097199999999944px),
    calc(100% - -42.63576px) calc(100% - 0.0089599999999805px),
    calc(100% - -52.57359px) calc(100% - 0.0078400000000016px),
    calc(100% - -51.53928px) calc(100% - 0.0064799999999963px),
    calc(100% - -42.50625px) calc(100% - 0.0049999999999955px),
    calc(100% - -28.44792px) calc(100% - 0.0035199999999946px),
    calc(100% - -12.33771px) calc(100% - 0.0021600000000035px),
    calc(100% - 2.85096px) calc(100% - 0.0010400000000033px),
    calc(100% - 14.14467px) calc(100% - 0.00028000000000361px),
    calc(100% - 18.57px) calc(100% - 0px),
    calc(100% - 16.72px) calc(100% - 0px),
    calc(100% - 16.72px) calc(100% - 0px),
    calc(100% - 16.28911px) calc(100% - 0.023389999999992px),
    calc(100% - 15.86848px) calc(100% - 0.092319999999987px),
    calc(100% - 15.46117px) calc(100% - 0.20493px),
    calc(100% - 15.07024px) calc(100% - 0.35936px),
    calc(100% - 14.69875px) calc(100% - 0.55375px),
    calc(100% - 14.34976px) calc(100% - 0.78624000000001px),
    calc(100% - 14.02633px) calc(100% - 1.05497px),
    calc(100% - 13.73152px) calc(100% - 1.35808px),
    calc(100% - 13.46839px) calc(100% - 1.69371px),
    calc(100% - 13.24px) calc(100% - 2.06px),
    calc(100% - 0px) calc(50% - -1.91px),
    calc(100% - 0px) calc(50% - -1.91px),
    calc(100% - -0.17820000000003px) calc(50% - -1.54571px),
    calc(100% - -0.31680000000003px) calc(50% - -1.16888px),
    calc(100% - -0.41579999999999px) calc(50% - -0.78257px),
    calc(100% - -0.4752px) calc(50% - -0.38984px),
    calc(100% - -0.495px) calc(50% - 0.006250000000005px),
    calc(100% - -0.4752px) calc(50% - 0.40264000000001px),
    calc(100% - -0.41580000000002px) calc(50% - 0.79627000000001px),
    calc(100% - -0.31680000000003px) calc(50% - 1.18408px),
    calc(100% - -0.1782px) calc(50% - 1.56301px),
    calc(100% - 0px) calc(50% - 1.93px),
    calc(100% - 13.24px) 2.04px,
    calc(100% - 13.24px) 2.04px,
    calc(100% - 13.46839px) 1.67913px,
    calc(100% - 13.73152px) 1.34784px,
    calc(100% - 14.02633px) 1.04811px,
    calc(100% - 14.34976px) 0.78192px,
    calc(100% - 14.69875px) 0.55125px,
    calc(100% - 15.07024px) 0.35808px,
    calc(100% - 15.46117px) 0.20439px,
    calc(100% - 15.86848px) 0.09216px,
    calc(100% - 16.28911px) 0.02337px,
    calc(100% - 16.72px) 2.9212505396466e-32px,
    21.41px 0px,
    21.41px 0px,
    -22.63869px 0px,
    -49.23512px 0px,
    -61.39783px 0px,
    -62.14536px 0px,
    -54.49625px 0px,
    -41.46904px 0px,
    -26.08227px 0px,
    -11.35448px 0px,
    -0.30421000000001px 0px,
    4.05px 0px,
    4.05px 0px,
    3.15174px 0.09761px,
    2.33832px 0.37408px,
    1.62378px 0.80487px,
    1.02216px 1.36544px,
    0.5475px 2.03125px,
    0.21384px 2.77776px,
    0.03522px 3.58043px,
    0.02568px 4.41472px,
    0.19926px 5.25609px,
    0.57px 6.08px,
    12.23px calc(50% - 2.05px),
    12.23px calc(50% - 2.05px),
    12.4298px calc(50% - 1.66332px),
    12.5852px calc(50% - 1.26176px),
    12.6962px calc(50% - 0.84904px),
    12.7628px calc(50% - 0.42888px),
    12.785px calc(50% - 0.004999999999999px),
    12.7628px calc(50% - -0.41888px),
    12.6962px calc(50% - -0.83904px),
    12.5852px calc(50% - -1.25176px),
    12.4298px calc(50% - -1.65332px),
    12.23px calc(50% - -2.04px),
    0.56px calc(100% - 6.15px)
  );

  background-color: bisque;
}
