:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: rgb(122, 219, 214);
  --border-width: 5px;
  --boder-width-negative: calc(var(--border-width) * -1);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.resize {
  resize: both;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #181818;
  border-radius: 0.5rem;
}

.arrow__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
}

svg {
  height: 100%;
}
path {
  fill: rgb(255, 255, 255);
}

.stroke {
  fill: rgb(122, 219, 214);
}

.content {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: white;
  flex-grow: 1;
}

.arrow__container.arrow__container--background {
  position: absolute;
  inset: -5px -10px;
  height: unset;
  width: unset;
}
.arrow__container.arrow__container--background .content {
  background-color: var(--border-color);
}

.arrow__container.arrow__container--background * {
  fill: var(--border-color);
}

.arrow__wrapper {
  position: relative;
  width: 80%;
  height: 60%;
}

.arrow__container--front {
  z-index: 1;
}
